*{
  margin:  0;
  padding:  0;
  box-sizing:  border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  width:  100%;
  min-height:  100vh;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  background: rgb(59,59,59);
background: -moz-radial-gradient(circle, rgba(59,59,59,1) 0%, rgba(46,46,46,1) 41%, rgba(15,15,15,1) 95%);
background: -webkit-radial-gradient(circle, rgba(59,59,59,1) 0%, rgba(46,46,46,1) 41%, rgba(15,15,15,1) 95%);
background: radial-gradient(circle, rgba(59,59,59,1) 0%, rgba(46,46,46,1) 41%, rgba(15,15,15,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b3b3b",endColorstr="#0f0f0f",GradientType=1);
}


.container{
  position:  relative;
  display:  flex;
  justify-content:  center;
  flex-flow:  row wrap;
  gap:  40px;
}

.container .box{
  position:  relative;
  padding:  40px 0;
  width:  240px;
  background:  transparent  ;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  flex-direction:  column;
  border-radius:  1.5rem;
  box-shadow: 0 0 .2rem .2rem var(--clr);
}

.container .box .circle{
  position:  relative;
  width: 150px;
  height:  150px;
  background:  conic-gradient( from 0deg, var(--clr) 0% ,var(--clr) 0% var(--i), transparent var(--i) , transparent var(--i) 100%);
  border-radius:  50%;
  display:  flex;
  justify-content:  center;
  align-items:  center;
}

.container .box .circle::before{
  content : '';
  position:  absolute;
  inset: .6rem;
  background : #333;
  border-radius:  50%;
}

.container .box .circle h2{
  position:  relative;
  text-align:  center;
  font-size:  2.3rem;
  font-weight:  600;
  letter-spacing:  1px;
  color:  #fff;
}

.container .box .circle small{
  font-size:  1.3rem;
  font-weight:  500;
}

.container .box h3{
  text-transform:  uppercase;
  color:  #fff;
  margin-top:  2rem;
  font-size: 1.8rem;
  font-weight:  600;
  letter-spacing: 2px;
}